<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductsServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.AddProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductEditServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.ProductEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductEditUpdate</servlet-name>
        <servlet-class>com.shop.sys.servlets.ProductEditUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSignUpServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.CustomerSignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogoutServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.CustomerLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.CustomerOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.OrderConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveOrderServlet</servlet-name>
        <servlet-class>com.shop.sys.servlets.RemoveOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductsServlet</servlet-name>
        <url-pattern>/AddProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductEditServlet</servlet-name>
        <url-pattern>/ProductEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductEditUpdate</servlet-name>
        <url-pattern>/ProductEditUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSignUpServlet</servlet-name>
        <url-pattern>/CustomerSignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <url-pattern>/CustomerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogoutServlet</servlet-name>
        <url-pattern>/CustomerLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/RemoveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderServlet</servlet-name>
        <url-pattern>/CustomerOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsServlet</servlet-name>
        <url-pattern>/OrderDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveOrderServlet</servlet-name>
        <url-pattern>/RemoveOrderServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Customer/CustomerHome.jsp</welcome-file>
    </welcome-file-list>
    <dependency>
        <groupId>com.google.code.gson</groupId>
        <artifactId>gson</artifactId>
        <version>2.2.2</version>
    </dependency>
</web-app>
